[Desktop Entry]
Version=1.0
Type=Application
Name=evren
GenericName=Yapay Zekâ ve Dil Modelleri Masaüstü İstemcisi
Comment=EVREN LLM API Masaüstü Uygulaması
Exec=evren gui
Icon=evren
Terminal=false
Categories=Utility;Development;Office;ArtificialIntelligence;
StartupNotify=true
StartupWMClass=evren
